<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CLEVER PROJECT TITLE</title>

	<!-- Global CSS -->
 	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template CSS -->
	<link href="static/css/style.css" rel="stylesheet">

	<!--Fonts-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<style>
.content {
  max-width: 600px;
  margin: auto;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<body>
<div class="content">

<div class="row">
    <div class="column">
    <img align="left" id= "planet" src="">
    <script>
      var chosenShape;
      function chooseShape(){
        // choose shape at random
        let myArray = ["cube", "cylinder", "cone", "triprism"];
	      chosenShape = myArray[Math.floor(Math.random()*myArray.length)];
      }
      chooseShape();
      document.getElementById('planet').src = "static/img/shapes_game/3d/" + chosenShape + ".png";
    </script>

    </div>
    <div class="column">
    <img align="right" id= "answer1" src="">
    <img align="right" id= "answer2" src="">
    <img align="right" id= "answer3" src="">
    <script>
      var answersArray = [];
      let twoDImages = ["cylinder-1.png", "cylinder-2.png", "cylinder-3.png", "cone-1.png", "cone-2.png", "cube-1.png", "cube-2.png", "cube-3.png", "cube-4.png", "cube-5.png", "cube-6.png", "cube-7.png", "cube-8.png", "cube-9.png", "cube-10.png", "cube-11.png", "triprism-1.png", "triprism-2.png"];
      let cylinderImages = ["cylinder-1.png", "cylinder-2.png", "cylinder-3.png"];
      let coneImages = ["cone-1.png", "cone-2.png"];
      let triprismImages = ["triprism-1.png", "triprism-2.png"]
      let cubeImages = ["cube-1.png", "cube-2.png", "cube-3.png", "cube-4.png", "cube-5.png", "cube-6.png", "cube-7.png", "cube-8.png", "cube-9.png", "cube-10.png", "cube-11.png"]

      function setPaths() {
        // append right answer
        answersArray.append(twoDImages[Math.floor(Math.random()*twoDImages.length)])

        // choose two wrong answers i.e. not the same shape as the correct answer
        var randomChoice = twoDImages[Math.floor(Math.random()*twoDImages.length)];
        let re = new RegExp(chosenShape);
        while (re.test(randomChoice)) {
          randomChoice = twoDImages[Math.floor(Math.random()*twoDImages.length)];
        }

        answersArray.append(randomChoice);

        var randomChoice2 = twoDImages[Math.floor(Math.random()*twoDImages.length)];
        while (re.test(randomChoice2) || randomChoice === randomChoice2) {
          randomChoice2 = twoDImages[Math.floor(Math.random()*twoDImages.length)];
        }

        answersArray.append(randomChoice2);

        // randomly shuffle the order of the array
        answersArray = shuffle(answersArray);

        // assign paths to images
        document.getElementById('answer1').src = "static/img/shapes_game/2d/" + answersArray[0]
        document.getElementById('answer2').src = "static/img/shapes_game/2d/" + answersArray[1]
        document.getElementById('answer3').src = "static/img/shapes_game/2d/" + answersArray[2]
      }

      setPaths();
    </script>
    </div>
</div>

<!-- Template JS -->
<script type="text/javascript" src="assets/js/main.js"></script>

<!-- Global jQuery -->
 <script type="text/javascript" src="assets/js/jquery-1.12.3.min.js"></script>
 <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

</div>
</body>
</html>
